/* ================================
================================ */
/* reset */
    html {
        box-sizing: border-box;
        -webkit-text-size-adjust: 100%;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }

    ul,
    ol {
        list-style: none;
    }

    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
        height: auto;
    }

    body {
        min-width: 320px;
        line-height: 1.5;
        font-family: system-ui, -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        background-color: #2D3E27;
        color: #FFFFFF;
        overflow-x: hidden;
    }


    a {
        text-decoration: none;
        color: inherit;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
        border: none;
        outline: none;
    }

    button {
        cursor: pointer;
        background: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    body.is-preload *,
    body.is-preload *::before,
    body.is-preload *::after {
        animation: none !important;
        transition: none !important;
    }





/* ================================
    ================================ */
/* main */
    



/* ================================
================================ */